<nav role="navigation" class="navbar navbar-fixed-top navbar-andross">
	<div class="navbar-header">
		<a href="/" class="navbar-brand visible-xs" data-target="#navbarCollapse"	data-toggle="collapse">
			<img src="/img/nav-logo.png" class="nav-logo-small"></a>
		<button type="button" data-target="#navbarCollapse"	data-toggle="collapse" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-2x"></i>
		</button>
	</div>

	<a href="/"><img src="/img/nav-logo.png" class="nav-logo"></a>
 	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><div class="dropdown"><a href="/" class="dropbtn">Home</a></div></li>
			<li><div class="dropdown"><a href="http://mikewall.exprealty.careers/" target="_blank" class="dropbtn">Join Our Team</a></div></li>
			<li><div class="dropdown"><a href="https://calendly.com/mike-77/exp/09-19-2018" target="_blank" class="dropbtn">Free Strategy Call</a></div></li>
			<li><div class="dropdown"><a href="http://gcimultiplier.com/gotomeeting/register.php/yMzL0JXZwhXZ" target="_blank" class="dropbtn">Webinars</a></div></li>
			<li><div class="dropdown">
				<a class="dropbtn">About eXp</a>
				<div class="dropdown-content">
					<a href="http://join.exprealty.com/work-anywhere/" target="_blank">Work Anywhere</a>
					<a href="http://join.exprealty.com/equity-opportunities/" target="_blank">Equity Opportunities</a>
					<a href="http://join.exprealty.com/powerful-technology/" target="_blank">Powerful Technology</a>
					<a href="http://join.exprealty.com/maximum-earning/" target="_blank">Maximum Earning</a>
				</div>
			</div></li>
			<li><div class="dropdown"><a href="/contact/" class="dropbtn">Contact</a></div></li>

		</ul>
		<!-- <ul class="nav navbar-nav navbar-right">
			<li>
				<a class="cta" href="tel:{{site.data.settings.client.phone}}">{{site.data.settings.client.phone}}</a></li>
		</ul> -->
</div>
</nav>
